<!DOCTYPE html>
<html>
<head>
	<title>Smart Browser</title>
	<link rel="stylesheet" type="text/css" href="../static/browserApp.css">
</head>
<body>
	<header>
		<img src="../static/logo.png" alt="Smart Browser Logo">
		<h1>Smart Browser</h1>
		<p>Explore the web with intelligence</p>
		<div id="buttonGroup">
			<form method="post" action = "{% url 'updateSearchModeToAcademia' %}">{% csrf_token %}<button type="submit"><img class="searchModeButton" src="../static/academia.png" alt="Academia"></button></form>
			<form method="post" action = "{% url 'updateSearchModeToDevelopment' %}">{% csrf_token %}<button type="submit"><img class="searchModeButton" src="../static/development.jpg" alt="Development"></button></form>
			<form method="post" action = "{% url 'updateSearchModeToAssistant' %}">{% csrf_token %}<button type="submit"><img class="searchModeButton" src="../static/assistant.png" alt="assistant"></button></form>
		</div>

		{% if search_mode %}
			<p>Currently Selected: {{search_mode}}</p>
		{% endif %}
		
	</header>
	

	<section id="searchBox">
		<form method="post" action="{% url 'textRequest' %}" id="searchForm">
            {% csrf_token %}
			<input type="text" name="inputRequest" value="{{ input_question }}">
			<button id="recordButtonWrapper"><img src="../static/microphoneOff.png" id = "recordButton" class="recordButtonClass"></button>
			<button type="submit">Search</button>
		</form>
	</section>

	<section id="mainContent">
		<div id="output">
			<h2>Search Results</h2>
			{{result |safe}}
			
			<!-- more results go here -->
		</div>

		<div id="relatedLinks">
			<h2>Related Links</h2>
			<ul>
				<li>{{related_link_one | safe}}</li>
				<li>{{related_link_two | safe}}</li>
				<li>{{related_link_three | safe}}</a></li>
				<!-- more related links go here -->
			</ul>
		</div>
	</section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="../static/browserApp.js"></script>
</html>
